{% extends 'main.html.twig' %}

{% block content %}

    {% if user.stories is defined %}
        {% for story in user.stories %}
            <div class="boxed {% if loop.first %}sticky{% endif %} push-down-45">

                <div class="meta">
                    <div class="row">
                        <div class="col-xs-12  col-sm-10  col-sm-offset-1">

                            <div class="meta__container--without-image">

                                <div class="row">
                                    <div class="col-xs-12  col-sm-8">
                                        <div class="meta__info">

                    <span class="meta__author">
                      <img src="{{ gravatar(story.author.email, 30) }}" alt="{{ story.author.name }}" width="30" height="30"> <a href="{{ path('devhuman_user', {user: story.author.username}) }}" title="{{ story.author.name }}'s Profile">{{ story.author.name }}</a>
                        {% if story.collections %}in
                            {% for collection in story.collections %}
                                {% if loop.index != 1 %}, {% endif %}<a href="#">{{ collection.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </span>
                                            <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{ story.created|date('F d, Y') }}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12  col-sm-4">
                                        <div class="meta__comments">
                                            <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="{{ path('devhuman_show_article', {slug: story.slug}) }}#disqus_thread"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Meta without image end -->
                <!-- Start of the blogpost -->
                <div class="row">
                    <div class="col-xs-10  col-xs-offset-1">
                        <!-- Start of the content -->
                        <div class="post-content--front-page">
                            <h2 class="front-page-title"><a href="{{ path('devhuman_show_article', {slug: story.slug}) }}">{{ story.title }}</a></h2>
                            <p>{{ story.preview|default(story.content|truncate(300)) }}</p>
                        </div>
                        <!-- End of the content -->
                        <a href="{{ path('devhuman_show_article', {slug: story.slug}) }}">
                            <div class="read-more">
                                Continue reading
                                <div class="read-more__arrow">
                                    <span class="glyphicon  glyphicon-chevron-right"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p>No content found from this author.</p>
    {% endif %}

{% endblock %}

{% block sidebar %}
    <!-- Widget author -->
    <div class="widget-author  boxed  push-down-30">
        <div class="widget-author__image-container">
            <div class="widget-author__avatar--blurred">
                <img src="{{ gravatar(user.email, 90) }}" alt="Avatar image" width="90" height="90">
            </div>
            <img class="widget-author__avatar" src="{{ gravatar(user.email, 90) }}" alt="Avatar image" width="90" height="90">
        </div>
        <div class="row">
            <div class="col-xs-10  col-xs-offset-1">
                <h4>{{ user.name }}</h4>
                <p>{{ user.bio }}</p>

                <div class="social-icons center-block" style="float: none">
                    {% if user.websiteUrl %}<a href="{{ user.websiteUrl }}" title="Website" target="_blank" class="social-icons__container"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
                    {% if user.twitterUrl %}<a href="{{ user.twitterUrl }}" title="Twitter" target="_blank" class="social-icons__container"><span class="zocial-twitter"></span></a>{% endif %}
                    {% if user.githubUrl %}<a href="{{ user.githubUrl }}" title="GitHub" target="_blank" class="social-icons__container"><span class="zocial-github"></span></a>{% endif %}
                    {% if user.googleplusUrl %}<a href="{{ user.googleplusUrl }}" title="Google Plus" target="_blank" class="social-icons__container"><span class="zocial-googleplus"></span></a>{% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}