{% set active='authors' %}
{% extends 'main.html.twig' %}

{% block title %}dev-human authors{% endblock %}

{% block content %}

    <div class="row">
        {% for author in authors %}
            <div class="col-xs-12  col-md-6">
                <!-- Widget author -->
                <div class="widget-author  boxed  push-down-30">
                    <div class="widget-author__image-container">
                        <div class="widget-author__avatar--blurred">
                            <img src="{{ gravatar(author.email, 90) }}" alt="Avatar image" width="90" height="90">
                        </div>
                        <a href="{{ path('devhuman_user', {user: author.username}) }}"><img class="widget-author__avatar" src="{{ gravatar(author.email, 90) }}" alt="Avatar image" width="90" height="90"></a>
                    </div>
                    <div class="row">
                        <div class="col-xs-10  col-xs-offset-1">
                            <h4>{{ author.name }}</h4>
                            <p>{{ author.bio }}</p>
                            <div class="social-icons center-block" style="float: none">
                                {% if author.websiteUrl %}<a href="{{ author.websiteUrl }}" title="Website" target="_blank" class="social-icons__container"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
                                {% if author.twitterUrl %}<a href="{{ author.twitterUrl }}" title="Twitter" target="_blank" class="social-icons__container"><span class="zocial-twitter"></span></a>{% endif %}
                                {% if author.githubUrl %}<a href="{{ author.githubUrl }}" title="GitHub" target="_blank" class="social-icons__container"><span class="zocial-github"></span></a>{% endif %}
                                {% if author.googleplusUrl %}<a href="{{ author.googleplusUrl }}" title="Google Plus" target="_blank" class="social-icons__container"><span class="zocial-googleplus"></span></a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if loop.index % 2 == 0 %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
        </div>

{% endblock %}