{% extends 'main.html.twig' %}

{% block content %}

  {% if stories is defined %}
    {% for story in stories %}
    <div class="boxed  push-down-45">
      <div class="meta">
        <div class="row">
          <div class="col-xs-12  col-sm-10  col-sm-offset-1">
            <div class="meta__container--without-image">
              <div class="row">
                <div class="col-xs-12  col-sm-8">
                  <div class="meta__info">
                    <span class="meta__author">
                      <a href="{{ path('devhuman_user', {user: story.author.username}) }}" title="{{ story.author.name }}'s Profile"><img src="{{ gravatar(story.author.email, 30) }}" alt="{{ story.author.name }}" width="30" height="30"></a> <a href="{{ path('devhuman_user', {user: story.author.username}) }}" title="{{ story.author.name }}'s Profile">{{ story.author.name }}</a>
                      {% if story.collections %}in
                        {% for collection in story.collections %}
                          {% if loop.index != 1 %}, {% endif %}<a href="#">{{ collection.name }}</a>
                        {% endfor %}
                      {% endif %}</span>
                    <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; {{ story.created|date('F d, Y') }}</span>
                  </div>
                </div>
                <div class="col-xs-12  col-sm-4">
                  <div class="meta__comments">
                    <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post-without-image.html#disqus_thread"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Meta without image end -->
      <!-- Start of the blogpost -->
      <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
          <!-- Start of the content -->
          <div class="post-content--front-page">
            <h2 class="front-page-title"><a href="{{ path('devhuman_show_article', {slug: story.slug}) }}">{{ story.title }}</a></h2>
            <p>{{ story.preview|default(story.getHTMLContent()|striptags|truncate(240)) }}</p>
          </div>
          <!-- End of the content -->
          <a href="{{ path('devhuman_show_article', {slug: story.slug}) }}">
            <div class="read-more">
              Continue reading
              <div class="read-more__arrow">
                <span class="glyphicon  glyphicon-chevron-right"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
  </div>
  {% endfor %}
{% endif %}
{#
<!-- Post with featured image -->
<div class="boxed  sticky  push-down-45">
<!-- Featured image and meta start -->
<div class="meta">
  <img class="wp-post-image" src="images/dummy-licensed/blog-image.jpg" alt="Blog image" width="748" height="324">
  <div class="meta__container">
    <div class="row">
      <div class="col-xs-12  col-sm-8">
        <div class="meta__info">
          <span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
          <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
        </div>
      </div>
      <div class="col-xs-12  col-sm-4">
        <div class="meta__comments">
          <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featured image and meta end -->
<div class="sticky__box">
  <span class="sticky__circle"></span>
  <span class="sticky__circle"></span>
  <span class="sticky__circle"></span>
  <span class="sticky__circle"></span>
</div>
<!-- Start of the blogpost -->
<div class="row">
  <div class="col-xs-10  col-xs-offset-1">
    <!-- Start of the content -->
    <div class="post-content--front-page">
      <h2 class="front-page-title"><a href="single-post.html">Sticky Post</a></h2>
      <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    </div>
    <!-- End of the content -->
    <a href="single-post.html">
      <div class="read-more">
        Continue reading
        <div class="read-more__arrow">
          <span class="glyphicon  glyphicon-chevron-right"></span>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
           </div>
<!-- Post with video -->
<div class="boxed  push-down-45">
  <!-- Featured image and meta start -->
  <div class="meta">
    <div class="responsive-embed-video">
      <!-- Embed Vimeo video -->
      <img src="images/dummy/video-placeholder.jpg" alt="Placeholder" class="vimeo-thumb" data-vimeo-id="79505580" data-width="748" />
      <!-- Embed ends -->
    </div>
    <div class="row">
      <div class="col-xs-12  col-sm-10  col-sm-offset-1">
        <div class="meta__container--without-image">
          <div class="row">
            <div class="col-xs-12  col-sm-8">
              <div class="meta__info">
                <span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
                <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
              </div>
            </div>
            <div class="col-xs-12  col-sm-4">
              <div class="meta__comments">
                <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post-video.html#disqus_thread"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured image and meta end -->
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2 class="front-page-title"><a href="single-post-video.html">Post with video</a></h2>
        <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
      <!-- End of the content -->
      <a href="single-post.html">
        <div class="read-more">
          Continue reading
          <div class="read-more__arrow">
            <span class="glyphicon  glyphicon-chevron-right"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Post with featured image -->
<div class="boxed  push-down-45">
  <!-- Featured image and meta start -->
  <div class="meta">
    <img class="wp-post-image" src="images/dummy-licensed/blog-image.jpg" alt="Blog image" width="748" height="324">
    <div class="meta__container">
      <div class="row">
        <div class="col-xs-12  col-sm-8">
          <div class="meta__info">
            <span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
            <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
          </div>
        </div>
        <div class="col-xs-12  col-sm-4">
          <div class="meta__comments">
            <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured image and meta end -->
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2 class="front-page-title"><a href="single-post.html">Marks and devious Semikoli</a></h2>
        <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
      <!-- End of the content -->
      <a href="single-post.html">
        <div class="read-more">
          Continue reading
          <div class="read-more__arrow">
            <span class="glyphicon  glyphicon-chevron-right"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Post with quote -->
<div class="boxed  push-down-45">
  <!-- Featured image and meta start -->
  <div class="meta">
    <img class="wp-post-image" src="images/dummy/blog-image-4.jpg" alt="Blog image" width="748" height="324">
    <q class="meta__quote">
      In order to succeed, your desire for success should be greater than your fear of failure.
    </q>
    <div class="meta__container">
      <div class="row">
        <div class="col-xs-12  col-sm-8">
          <div class="meta__info">
            <span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
            <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
          </div>
        </div>
        <div class="col-xs-12  col-sm-4">
          <div class="meta__comments">
            <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured image and meta end -->
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2 class="front-page-title"><a href="single-post.html">Post with quote</a></h2>
        <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
      <!-- End of the content -->
      <a href="single-post.html">
        <div class="read-more">
          Continue reading
          <div class="read-more__arrow">
            <span class="glyphicon  glyphicon-chevron-right"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Post without featured image -->
<div class="boxed  push-down-45">
  <!-- Meta without image start (Needed for WP theme)-->
  <div class="meta">
    <div class="row">
      <div class="col-xs-12  col-sm-10  col-sm-offset-1">
        <div class="meta__container--without-image">
          <div class="row">
            <div class="col-xs-12  col-sm-8">
              <div class="meta__info">
                <span class="meta__author"><img src="images/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
                <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 3. May, 2014</span>
              </div>
            </div>
            <div class="col-xs-12  col-sm-4">
              <div class="meta__comments">
                <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post-without-image.html#disqus_thread"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Meta without image end -->
  <!-- Start of the blogpost -->
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <!-- Start of the content -->
      <div class="post-content--front-page">
        <h2 class="front-page-title"><a href="single-post-without-image.html">Post without featured image</a></h2>
        <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
      <!-- End of the content -->
      <a href="single-post.html">
        <div class="read-more">
          Continue reading
          <div class="read-more__arrow">
            <span class="glyphicon  glyphicon-chevron-right"></span>
          </div>
        </div>
      </a>
    </div>
  </div>
  #}
{% endblock %}
