{% extends 'main.html.twig' %}

{% block title %}home ~ devhuman{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-md-4">
                <!-- Widget author -->
                <div class="widget-author  boxed  push-down-30">
                    <div class="widget-author__image-container">
                        <div class="widget-author__avatar--blurred">
                            <img src="{{ gravatar(user.email, 90) }}" alt="Avatar image" width="90" height="90">
                        </div>
                        <img class="widget-author__avatar" src="{{ gravatar(user.email, 90) }}" alt="Avatar image" width="90" height="90">
                    </div>
                    <div class="row">
                        <div class="col-xs-10  col-xs-offset-1">
                            <h4>{{ user.name }}</h4>
                            <p>{{ user.bio }}</p>

                            <div class="social-icons center-block" style="float: none">
                                {% if user.websiteUrl %}<a href="{{ user.websiteUrl }}" title="Website" target="_blank" class="social-icons__container"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
                                {% if user.twitterUrl %}<a href="{{ user.twitterUrl }}" title="Twitter" target="_blank" class="social-icons__container"><span class="zocial-twitter"></span></a>{% endif %}
                                {% if user.githubUrl %}<a href="{{ user.githubUrl }}" title="GitHub" target="_blank" class="social-icons__container"><span class="zocial-github"></span></a>{% endif %}
                                {% if user.googleplusUrl %}<a href="{{ user.googleplusUrl }}" title="Google Plus" target="_blank" class="social-icons__container"><span class="zocial-googleplus"></span></a>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12  col-md-8">
                <div class="search-results">
                    <p><h3>Your Stories</h3><p>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-md-12">
                        {% if user.stories is defined %}
                            {% for story in user.stories %}
                                <!-- Post without featured image -->
                                <div class="boxed  push-down-30">
                                    <!-- Start of the blogpost -->
                                    <div class="row">
                                        <div class="col-xs-10  col-xs-offset-1">
                                            <!-- Start of the content -->
                                            <div class="post-content--front-page">
                                                <h3><a href="{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}" title="{{ story.title }}">{{ story.title }}</a> <span class="pull-right">[ <a href="{{ path('devhuman_edit_story', {story: story.id}) }}">edit</a> ]</span></h3>
                                                <p class="search-subtitle">{{ story.preview|default(story.getHTMLContent()|striptags|truncate(240)) }}</p>
                                            </div>
                                            <!-- End of the content -->
                                            <a href="{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}" title="{{ story.title }}">
                                                <div class="read-more">
                                                    Continue reading
                                                    <div class="read-more__arrow">
                                                        <span class="glyphicon  glyphicon-chevron-right"></span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No content found.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}