<!-- header -->
<header class="header  push-down-45">
    <div class="container">

        <div class="logo  pull-left">
            <a href="{{ path('devhuman_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="Logo" width="352" height="140"></a>
        </div>

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="navbar  navbar-default" role="navigation">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse  navbar-collapse" id="readable-navbar-collapse">
                <ul class="navigation">

                    <li class="dropdown  {% if active is defined and active == 'homepage' %} active{% endif %}">
                        <a href="{{ path('devhuman_homepage') }}" class="dropdown-toggle">Home</a>
                    </li>

                    <li class="dropdown {% if active is defined and active == 'collections' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections</a>
                        <ul class="navigation__dropdown">
                            {% for collection in collection_list %}
                                <li><a href="{{ path('devhuman_collection', {slug: collection.slug}) }}" title="See all posts under the '{{ collection.name }}' Collection">{{ collection.name }}</a></li>
                            {% endfor %}
                        </ul>

                    </li>

                    <li class="{% if active is defined and active == 'authors' %} active{% endif %}">
                        <a href="{{ path('devhuman_authors') }}">Authors</a>
                    </li>

                    <li class="{% if active is defined and active == 'about' %} active{% endif %}">
                        <a href="{{ path('devhuman_page', {page: 'about'}) }}">About</a>
                    </li>

                    <li class="{% if active is defined and active == 'contact' %} active{% endif %}">
                        <a href="{{ path('devhuman_page', {page: 'contact'}) }}">Contact</a>
                    </li>

                    {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="{% if active is defined and active == 'create' %} active{% endif %}">
                            <a href="{{ path('devhuman_story_create') }}"><span class="glyphicon glyphicon-plus"></span> New Story</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="hidden-xs  hidden-sm">
            <a href="#" class="search__container  js--toggle-search-mode">
                <span class="glyphicon  glyphicon-search"></span>
            </a>
            <div class="social">
                <a href="#" class="social__container">
                    <span class="glyphicon  glyphicon-heart"></span>
                </a>
                <ul class="social__dropdown">
                    <li><a href="https://www.facebook.com/devhuman" target="_blank" class="social__container"><span class="zocial-facebook"></span></a></li>
                    <li><a href="https://twitter.com/devhumanproject" target="_blank" class="social__container"><span class="zocial-twitter"></span></a></li>
                    <li><a href="http://dev-human.io/atom" target="_blank" class="social__container"><span class="zocial-rss"></span></a></li>
                </ul>
            </div>
            {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="social">
                    <a href="{{ path('devhuman_user', {user: app.user.username}) }}" class="social__container">
                        <img src="{{ gravatar(app.user.email, 30) }}" class="img-circle" alt="Meta avatar" width="30" height="30">
                    </a>
                    <ul class="social__dropdown">
                        <li><a href="{{ path('devhuman_user', {user: app.user.username}) }}" class="social__container">Profile</a></li>
                        <li><a href="{{ path('devhuman_user_settings') }}" class="social__container">Settings</a></li>
                        <li><a href="{{ path('sauth_logout') }}" class="social__container">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ path('sauth_connect', {service: 'github'}) }}" class="social__container" title="Log In with Github">
                    <span class="glyphicon  glyphicon-log-in"></span> Log In
                </a>
            {% endif %}
        </div>
    </div>
</header>