<!-- Widget author -->
<div class="widget-author  boxed  push-down-30">
    <div class="widget-author__image-container">
        <div class="widget-author__avatar--blurred">
            <img src="{{ asset('images/dev-human-sticker.png') }}" alt="Avatar image" width="90" height="90">
        </div>
        <img class="widget-author__avatar" src="{{ asset('images/dev-human-sticker.png') }}" alt="Avatar image" width="90" height="90">
    </div>
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
            <h4>About</h4>
            <p><strong>devhuman</strong> is a collaborative, non-technical blog written by developers. We talk about life and stuff robots can't understand </p>
        </div>
    </div>
</div>

<div class="sidebar  boxed  push-down-30">
    <div class="row">
        <div class="col-xs-10  col-xs-offset-1">
            <!-- Widget Collections -->
            {{ render(controller('AppBundle:Widget:collectionsWidget')) }}

            <!-- Widget Featured Post -->
            {{ render(controller('AppBundle:Widget:featuredPostWidget')) }}

            <!-- Widget Facebook -->
            {{ render(controller('AppBundle:Widget:facebookWidget')) }}

            <!-- Widget Top Posts and Recent Posts -->
            {{ render(controller('AppBundle:Widget:topPosts', { 'max': 3 })) }}

            <!-- Widget Tags -->
            {{ render(controller('AppBundle:Widget:tagsWidget', { 'max': 10 })) }}

            <!-- Widget Twitter -->
            {{ render(controller('AppBundle:Widget:twitterWidget')) }}

        </div>
    </div>
</div>
