{% extends 'main.html.twig' %}

{% block title %}edit/new story ~ dev-human{% endblock %}


{% block body %}

    <div class="container">
        <div class="boxed  push-down-60">
            <!-- Start of the content -->
            <div class="story-form">

                {{ form_start(form) }}

                {{ form_widget(form.published, {id: 'content-published', value: story.published|default(0)}) }}

                <div class="form-group story-title">
                    {{ form_widget(form.title, {id: 'content-title',  attr: {class: 'input-lg '}}) }}
                </div>

                {% if story is defined and story.published %}
                    <div class="story-link">Your story is live at: <a href="{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}">{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}</a></div>
                {% endif %}

                <div class="editor-buttons clearfix">
                    <ul class="editor-menu-buttons">
                        <li><a href="#" id="button-write" onclick="edit()" class="editor-tab active"><span class="glyphicon glyphicon-pencil"></span> Write</a></li>
                        <li><a href="#" id="button-preview" onclick="preview()" class="editor-tab"><span class="glyphicon glyphicon-eye-open"></span> Preview</a></li>
                        <li><a href="#" id="button-meta" onclick="showMeta()" class="editor-tab"><span class="glyphicon glyphicon-tags"></span> Post Meta</a> </li>
                    </ul>

                    <ul class="editor-menu-floating">
                        {% if story is defined and story.id %}
                            <li><a href="#" class="remove" onclick="storyRemove('{{ story.id }}')" title="Permanently delete this story"><span class="glyphicon glyphicon-remove-circle"></span></a></li>
                        {% endif %}
                        {% if story is defined and story.published == 0 %}
                            <li><a href="#" id="button-publish" class="publish" onclick="publish()"><span class="glyphicon glyphicon-cloud-upload"></span> Publish Story</a></li>
                        {% else %}
                            <li><a href="#" id="button-unpublish" class="unpublish" onclick="unpublish()"><span class="glyphicon glyphicon-remove"></span> Unpublish Story</a></li>
                        {% endif %}
                            <li><a href="#" id="button-save" onclick="save()"><span class="glyphicon glyphicon-save"></span> Save Story</a></li>
                    </ul>
                </div>

                <div class="tab-content">

                    <div class="editor-content editor-tab-content active" id="editor-content">
                        <div id="epiceditor"></div>
                        {{ form_widget(form.content, {id: 'epic-editor-content', attr: {placeholder: 'Content'}}) }}
                    </div>

                    <div class="editor-preview editor-tab-content" id="editor-preview">

                    </div>

                    <div class="editor-meta editor-tab-content" id="editor-meta">
                        <div class="form-group">
                            <label for="content-preview">Teaser (short preview of the content, text-only)</label>
                            {{ form_widget(form.preview, {id: 'content-preview', attr: {class: 'input-lg'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="content-preview">Collection</label>
                            {{ form_widget(form.collection, {id: 'content-collection', attr: {class: 'input-lg'}}) }}
                        </div>

                        <div class="form-group">
                            <label>Date Created</label>
                            {{ form_widget(form.created, {attr: {class: 'input-lg'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="content-tags">Tags</label>
                            {{ form_widget(form.tagsList, {id: 'content-tags', attr: {class: 'input-lg'}}) }}
                        </div>
                    </div>

                </div>

                {{ form_end(form) }}

            </div>
            <!-- End of the blogpost -->
            {% if story.id %}
                <form name="form_story_{{ story.id }}_remove" id="form_story_{{ story.id }}_remove" action="{{ path('devhuman_story_remove', {storyId: story.id}) }}">

                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/epic/js/epiceditor.min.js') }}"></script>

    <script type="text/javascript">
        var editor;

        var opts = {
            container: 'epiceditor',
            textarea: 'epic-editor-content',
            basePath: '/assets/css',
            clientSideStorage: false,
            localStorageName: 'epiceditor',
            useNativeFullscreen: true,
            parser: marked,
            file: {
                name: 'epiceditor',
                defaultContent: '',
                autoSave: 100
            },
            theme: {
                base: '/epic/base.css',
                preview: '/epic/preview.css',
                editor: '/epic/editor.css'
            },
            button: {
                preview: true,
                fullscreen: true,
                bar: false
            },
            focusOnLoad: true,
            shortcut: {
                modifier: 18,
                fullscreen: 70,
                preview: 80
            },
            string: {
                togglePreview: 'Toggle Preview Mode',
                toggleEdit: 'Toggle Edit Mode',
                toggleFullscreen: 'Enter Fullscreen'
            },
            autogrow: true
        };

        $(function() {
            editor = new EpicEditor(opts);
            editor.load();
        });

        function preview() {
            $('.editor-tab').removeClass('active');
            $('#button-preview').addClass('active');

            var title = $('#content-title').val();
            var content = $('#epic-editor-content').val();

            $.post("{{ path('devhuman_preview_md') }}", { title: title, content: content })
                    .done(function( data ) {
                        $('#editor-preview').html(data);
                    });

            $('.editor-tab-content').hide();
            $('#editor-preview').fadeIn();
        }

        function edit() {
            $('.editor-tab').removeClass('active');
            $('#button-write').addClass('active');

            $('.editor-tab-content').hide();
            $('#editor-content').fadeIn();
        }

        function showMeta() {
            $('.editor-tab').removeClass('active');
            $('#button-meta').addClass('active');

            $('.editor-tab-content').hide();
            $('#editor-meta').fadeIn();
        }

        function save() {
            $( ".form-horizontal" ).submit();
        }

        function unpublish() {
            $('#content-published').val("0");
            save();
        }

        function publish() {
            $('#content-published').val("1");
            save();
        }

        function fullscreen() {
            editor.enterFullscreen(function () {
                console.log('Welcome to fullscreen mode!');
            });
        }

        function storyRemove(storyId) {
            if (confirm("Are you sure you want to delete this story permanently? This action cannot be undone.\nUse the 'Unpublish' button if you just want to take it offline!")) {
                $( '#form_story_' + storyId + '_remove' ).submit();
            }
        }

    </script>


{% endblock %}