{% extends 'main.html.twig' %}

{% block title %}edit/new story ~ dev-human{% endblock %}


{% block body %}

    <div class="container">
        <div class="boxed  push-down-60">

            <!-- Start of the content -->
            <div class="story-form">

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_widget(form.title, {id: 'content-title', attr: {class: 'input-lg story-title'}}) }}
                </div>

                <div class="editor-buttons">
                    <ul class="editor-menu-buttons">
                        <li><a href="#" id="button-write" onclick="edit()" class="editor-tab active"><span class="glyphicon glyphicon-pencil"></span> Write</a></li>
                        <li><a href="#" id="button-preview" onclick="preview()" class="editor-tab"><span class="glyphicon glyphicon-eye-open"></span> Preview</a></li>
                        <li><a href="#" id="button-meta" onclick="showMeta()" class="editor-tab"><span class="glyphicon glyphicon-tags"></span> Post Meta</a> </li>
                    </ul>

                    <ul class="editor-menu-floating">
                        <li><a href="#" id="button-save" onclick="save()"><span class="glyphicon glyphicon-save"></span> Save Story</a></li>
                        <!--<li><a href="#" id="button-fullscreen" onclick="fullscreen()"><span class="glyphicon glyphicon-resize-full"></span> Full Screen</a></li>-->
                    </ul>
                </div>

                <div class="tab-content">

                    <div class="editor-content editor-tab-content active" id="editor-content">
                        <div id="epiceditor"></div>
                        {{ form_widget(form.content, {id: 'epic-editor-content', attr: {placeholder: 'Content'}}) }}
                    </div>

                    <div class="editor-preview editor-tab-content" id="editor-preview">

                    </div>

                    <div class="editor-meta editor-tab-content" id="editor-meta">
                        <div class="form-group">
                            <label for="content-preview">Teaser (short preview of the content, text-only)</label>
                            {{ form_widget(form.preview, {id: 'content-preview', attr: {class: 'input-lg'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="content-preview">Collection</label>
                            {{ form_widget(form.collection, {id: 'content-collection', attr: {class: 'input-lg'}}) }}
                        </div>

                        <div class="form-group">
                            <label for="content-tags">Tags</label>
                            {{ form_widget(form.tagsList, {id: 'content-tags', attr: {class: 'input-lg'}}) }}
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}

            </div>
            <!-- End of the blogpost -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/epic/js/epiceditor.min.js') }}"></script>

    <script type="text/javascript">
        var editor;

        var opts = {
            container: 'epiceditor',
            textarea: 'epic-editor-content',
            basePath: '/assets/css',
            clientSideStorage: true,
            localStorageName: 'epiceditor',
            useNativeFullscreen: true,
            parser: marked,
            file: {
                name: 'epiceditor',
                defaultContent: '',
                autoSave: 100
            },
            theme: {
                base: '/epic/base.css',
                preview: '/epic/preview.css',
                editor: '/epic/editor.css'
            },
            button: {
                preview: true,
                fullscreen: true,
                bar: false
            },
            focusOnLoad: true,
            shortcut: {
                modifier: 18,
                fullscreen: 70,
                preview: 80
            },
            string: {
                togglePreview: 'Toggle Preview Mode',
                toggleEdit: 'Toggle Edit Mode',
                toggleFullscreen: 'Enter Fullscreen'
            },
            autogrow: true
        };

        $(function() {
            editor = new EpicEditor(opts);
            editor.load();
        });

        function preview() {
            $('.editor-tab').removeClass('active');
            $('#button-preview').addClass('active');

            var title = $('#content-title').val();
            var content = $('#epic-editor-content').val();

            $.post("{{ path('devhuman_preview_md') }}", { title: title, content: content })
                    .done(function( data ) {
                        $('#editor-preview').html(data);
                    });

            $('.editor-tab-content').hide();
            $('#editor-preview').fadeIn();
        }

        function edit() {
            $('.editor-tab').removeClass('active');
            $('#button-write').addClass('active');

            $('.editor-tab-content').hide();
            $('#editor-content').fadeIn();
        }

        function showMeta() {
            $('.editor-tab').removeClass('active');
            $('#button-meta').addClass('active');

            $('.editor-tab-content').hide();
            $('#editor-meta').fadeIn();
        }

        function save() {
            $( ".form-horizontal" ).submit();
        }

        function fullscreen() {
            editor.enterFullscreen(function () {
                console.log('Welcome to fullscreen mode!');
            });
        }

    </script>


{% endblock %}