{% if stories is defined %}
    {% for story in stories %}
        <div class="boxed  push-down-45">

            {% include '_partials/story_header_noimage.html.twig' with { 'story': story} %}

            <!-- Start of the blogpost -->
            <div class="row">
                <div class="col-xs-10  col-xs-offset-1">
                    <!-- Start of the content -->
                    <div class="post-content--front-page">
                        <h2 class="front-page-title"><a href="{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}">{{ story.title }}</a></h2>
                        {% if show_full is defined %}
                            {{ story.getHTMLContent()|raw }}
                        {% else %}
                            <p>{{ story.preview|default(story.getHTMLContent()|striptags|truncate(240)) }}</p>
                        {% endif %}
                    </div>
                    <!-- End of the content -->
                    <a href="{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}">
                        <div class="read-more">
                            Comment and Share
                            <div class="read-more__arrow">
                                <span class="glyphicon  glyphicon-chevron-right"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-xs-12 push-down-30 text-center">
        <div class="pagination" style="margin: 0 auto">
            <nav>
                {{ knp_pagination_render(stories) }}
            </nav>
        </div>
    </div>
{% endif %}