{% extends 'main.html.twig' %}

{% block title %}{{ story.title }} ~ dev-human{% endblock %}

{% block meta %}
    <meta name="description" content="{{ story.preview|default(story.getHTMLContent()|striptags|truncate(140)) }}">
    <meta name="keywords" content="{{ story.getTagsList }}" />

    <meta name="author" content="{{ story.author.googlePlusUrl|default(story.author.username) }}">
    <link rel="author" href="{{ story.author.googlePlusUrl|default(story.author.username) }}">

    <!-- Facebook -->
    <meta property="article:publisher" content="https://www.facebook.com/devhuman" />

    <meta property="og:site_name" content="dev-human"/>
    <meta property="og:title" content="{{ story.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://dev-human.io{{ path('imanee_card_facebook', {storyId: story.id}) }}" />
    <meta property="og:url" content="http://dev-human.io{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}" />
    <meta property="og:description" content="{{ story.preview|default(story.getHTMLContent()|striptags|truncate(140)) }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ story.title }}" />
    <meta name="twitter:description" content="{{ story.preview|default(story.getHTMLContent()|striptags|truncate(140)) }}" />
    <meta name="twitter:image" content="http://dev-human.io{{ path('imanee_card_twitter', {storyId: story.id}) }}" />
{% endblock %}

{% block body %}
    {% include '_partials/flash_messages.html.twig' %}
    {% include '_partials/highlight_panel.html.twig' %}
<div class="container">
    <div class="boxed  push-down-60">

        {% include '_partials/story_header_noimage.html.twig' with { 'story': story} %}

        <!-- Start of the blogpost -->
        <div class="row">
            <div class="col-xs-10  col-xs-offset-1  col-md-8  col-md-offset-2  push-down-60">
                <!-- Start of the content -->
                <div class="post-content" id="post-content">
                    <h1>{{ story.title }}</h1>
                    {{ content|raw }}

                    <div class="imanee-highlighter-menu" id="imanee-highlighter-menu">
                        <a id="share-twitter-button" href="https://twitter.com/intent/tweet" class="btn btn-primary btn-sm">
                            <span class="zocial zocial-twitter"></span> Share Quote</a>
                    </div>

                </div>
                <!-- End of the content -->
                <div class="row">
                    <div class="col-xs-12  col-sm-6">
                        {% if story.author == app.user %}
                            <div class="post-comments">
                                <a class="btn btn-success" href="{{ path('devhuman_edit_story', { story: story.id}) }}">
                                    <span class="glyphicon glyphicon-pencil"></span> Edit Story</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-xs-12  col-sm-6 text-right">
                        <!-- Start of social icons -->
                        <div class="addthis_sharing_toolbox"></div>
                        <!-- End of social icons -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12  col-sm-6">
                        <!-- Start of post author -->
                        <div class="post-author">
                            <h6>Written By</h6>
                            <hr>
                            <a href="{{ path('devhuman_user', {user: story.author.username}) }}" title="{{ story.author.name }}'s Profile"><img src="{{ gravatar(story.author.email, 120) }}" alt="Post author"></a>
                            <h5><a href="{{ path('devhuman_user', {user: story.author.username}) }}" title="{{ story.author.name }}'s Profile">{{ story.author.name }}</a></h5>
                            <span class="post-author__text">{{ story.author.bio }}</span>

                            <div class="push-down-15"></div>
                            <div class="social-icons center-block" style="float: none">
                                {% if story.author.websiteUrl %}<a href="{{ story.author.websiteUrl }}" title="Website" target="_blank" class="social-icons__container"><span class="glyphicon glyphicon-globe"></span></a>{% endif %}
                                {% if story.author.twitterUrl %}<a href="{{ story.author.twitterUrl }}" title="Twitter" target="_blank" class="social-icons__container"><span class="zocial-twitter"></span></a>{% endif %}
                                {% if story.author.githubUrl %}<a href="{{ story.author.githubUrl }}" title="GitHub" target="_blank" class="social-icons__container"><span class="zocial-github"></span></a>{% endif %}
                                {% if story.author.googleplusUrl %}<a href="{{ story.author.googleplusUrl }}" title="Google Plus" target="_blank" class="social-icons__container"><span class="zocial-googleplus"></span></a>{% endif %}
                            </div>
                            <!-- End of social icons -->
                        </div>
                        <!-- End of post author -->
                        <!-- Start of social icons -->
                    </div>
                    <div class="col-xs-12  col-sm-6">
                        <!-- Start of post tags -->
                        <div class="tags">
                            <h6>Tags</h6>
                            <hr>
                            {% for tag in story.tags %}
                                <a href="{{ path('devhuman_tag', {slug: tag.slug}) }}" class="tags__link">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <!-- End of post tags -->
                    </div>
                </div>

                {% if story.commentsEnabled %}
                <div class="disqus-comments push-down-45">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'devhuman'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
                {% endif %}

                <!-- Widget Related Stories -->
                {{ render(controller('AppBundle:Widget:relatedPostsWidget', { 'post': story, 'max': 3 })) }}

                </div>
            </div>
            <!-- End of the blogpost -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-526833fd774882a3" async="async"></script>

    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>

    <script type="text/javascript">
        {% spaceless %}
        var storyContent = "{{ content|striptags|escape('js')|replace({"\n":'', "\r":''}) }}";
        {% endspaceless %}

        $(function() {

            highlighter.onSelectedText = function(selectedText) {
                var start = storyContent.indexOf(selectedText);
                var base_url = "https://twitter.com/intent/tweet";
                var image_url = "http://dev-human.io/quote/{{ story.id }}.jpg?q=" + start + ',' + selectedText.length;
                var story_url = "http://dev-human.io{{ path('devhuman_show_article', {author: story.author.username, slug: story.slug}) }}";
                var shareText = "{{ story.title|escape('js') }} " + image_url + " " + story_url;

                $('#share-twitter-button').attr('href', base_url + '?text= ' + encodeURI(shareText) + '&via=devhumanproject');
                twttr.widgets.load();
            };

            highlighter.init('post-content');
        });
    </script>
{% endblock %}